body{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
}
.Nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}
.Nav_bar a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    transition: linear 0.2s;
}

.Nav_bar a:hover{
    color:rgb(255, 225, 0) ;
}
.laptop_1{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scale: 0.6;
}
.wrapper {
    overflow-x: hidden;
    position: relative;
}
.wrapper2 {
    overflow-x: hidden;
    position: relative;
}

.container2 {
    display: flex;
    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: 1.5rem;
        }
    }


section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100%;
        padding: 20% 30%;
        h1 {
            font-size: 5rem;
            margin: 0;
        }

        p {
            font-size: 5rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 100px;
            padding: 0;

            li {
                background: rgb(255, 255, 255);
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}
.container {
    display: flex;
    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: 1.5rem;
        }
    }


section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100%;
        padding: 20% 30%;
        h1 {
            font-size: 5rem;
            margin: 0;
        }

        p {
            font-size: 5rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 100px;
            padding: 0;

            li {
                background: rgb(255, 255, 255);
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

.screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 150px;
    color: black;
    transition: ease-in 0.2s;
}

.screen:hover{
    color: rgb(0, 76, 255);
}

.impact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 150px;
    color: black;
    transition: ease-in 0.2s;
}
.impact:hover{
    color: rgb(255, 0, 0);
}
.history{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 150px;
    color: black;
    transition: ease-in 0.2s;
}
.history:hover{
    color:rgb(255, 225, 0) ;
}

.last{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 150px;
    color: black;
    transition: ease-in 0.2s;
}
.last:hover{
    color:rgb(38, 255, 0) ;
}


.zoom {
    display: flex;
    justify-self: center;
    width: 80%;
    height: 80%;
    transition: transform 0.25s ease; 
    object-fit: cover; 
  }

  .line {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%; 

    height: 2px; 
    scale: 0.9;
    z-index: 1;
}
.line_img{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -30vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); 
    align-self: center;
    justify-content: center;
    width: 80vw;
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    position: relative;
    background: #f4f4f4;
    overflow: hidden;
    height: auto; 
    transition: height 0.3s ease; 
  }
  
  .grid-item:hover {
    height: 100%;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: grayscale(100%);
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.5); 
    color: #fff;
    font-size: 2.9em;
    padding: 10px;
    text-align: center;
    height: 100%;
    transform: translateX(0%);
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.1s ease; 
  }
  
  .grid-item:hover .text,
  .grid-item:hover img {
    filter: none;
  }
  
  .grid-item:hover .text {
    opacity: 1;
    transform: translateY(0); 
  }

.hidden{
    opacity:1;
    transform: translate(-100%);
    transition:  all 0.3s;
}

.show{
    opacity: 1;
    transform: translate(0%);
}

.ending{
    display: flex;
    justify-content: center;
    height: 90vh;
}
html, body {
    scroll-behavior: smooth; 
    overscroll-behavior: contain;
  }
  
